* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

#row-1 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
}

#row-2 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 3%;
}

#row-3 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 6%;
}

#row-4 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 9%;
}

#row-5 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 12%;
}

#row-6 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 15%;
}

#row-7 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 18%;
}

#row-8 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 21%;
}

#row-9 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 24%;
}

#row-10 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 27%;
}

#row-11 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 30%;
}

#row-12 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 33%;
}

#row-13 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 36%;
}

#row-14 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 39%;
}

#row-15 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 42%;
}

#row-16 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 45%;
}

#row-17 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 48%;
}

#row-18 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 51%;
}

#row-19 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 54%;
}

#row-20 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 57%;
}

#row-21 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 60%;
}

#row-22 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 63%;
}

#row-23 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 66%;
}

#row-24 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 69%;
}

#row-25 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 72%;
}

#row-26 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 75%;
}

#row-27 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 78%;
}

#row-28 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 81%;
}

#row-29 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 84%;
}

#row-30 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 87%;
}

#row-31 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 90%;
}

#row-32 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 93%;
}

#row-33 {
	z-index: 9000;
	position: fixed;
	font-family: "Courier New";
	font-size: 134%;
	top: 96%;
}

#header {
	z-index: 1000;
	position: fixed;
	top: 2%;
	left: 1.3%;
	font-size: 90px;
	line-height: 1.15;
	font-family: "Orbitron";
	color: red;
	transform: scale(1,1.1);
}

#item-description {
	z-index: 2000;
	position: fixed;
	left: 1%; 
	bottom: 3.5%;
	font-size: 91px;
	font-family: "Russo One"; 
	color: #1F51FF;
	opacity: 0.6;
	text-shadow: 0 0 .1em #1F51FF;
	display: none;
}

/*
#item-description {
	z-index: 2000;
	position: absolute;
	left: -100%;
	bottom: 0%;
	width: 200%;
	height: 25%;
}
*/


#items-list {
	z-index: 3000;
	list-style-type: none;
	position: absolute;
	top: 28%;
	height: 47%;
	width: 15%;
	border-right-style: solid;
	border-width: 0.75px;
	background-color: white;
}

#items-container  {
	position: relative;
	left: 20%;
}

li {
	font-size: 20px;
	font-family: "Helvetica"; 
}

li:hover {
	color: red;
}


#pause-play {
	color: #1F51FF;
	opacity: 0.6;
	position: relative;
	top: 33px;
/*	padding-top: 5%; */
	font-size: 36px;
	font-family: "Helvetica"; 
	transform: scale(1, 3);
}

#item1-front {
	z-index: 10;
	position: absolute;
	left: 15%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item1-back {
	z-index: 10;
	position: absolute;
	left: 15%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item1-hover {
	z-index: 2000;
	position: absolute;
	left: 15%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item1-prices {
	z-index: 100;
	position: absolute;
	left: 15%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item2-front {
	z-index: 10;
	position: absolute;
	left: 36%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item2-back {
	z-index: 10;
	position: absolute;
	left: 36%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item2-border {
	z-index: 50;
	position: absolute;
	left: 36%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item2-hover {
	z-index: 2000;
	position: absolute;
	left: 36%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item2-prices {
	z-index: 100;
	position: absolute;
	left: 36%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item3-front {
	z-index: 10;
	position: absolute;
	left: 57%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item3-back {
	z-index: 10;
	position: absolute;
	left: 57%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item3-border {
	z-index: 50;
	position: absolute;
	left: 57%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item3-hover {
	z-index: 2000;
	position: absolute;
	left: 57%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item3-prices {
	z-index: 100;
	position: absolute;
	left: 57%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item4-front {
	z-index: 10;
	position: absolute;
	left: 78%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item4-back {
	z-index: 10;
	position: absolute;
	left: 78%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item4-border {
	z-index: 50;
	position: absolute;
	left: 78%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item4-hover {
	z-index: 2000;
	position: absolute;
	left: 78%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item4-prices {
	z-index: 100;
	position: absolute;
	left: 78%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item5-front {
	z-index: 10;
	position: absolute;
	left: -69%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item5-back {
	z-index: 10;
	position: absolute;
	left: -69%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item5-hover {
	z-index: 2000;
	position: absolute;
	left: -69%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item5-prices {
	z-index: 100;
	position: absolute;
	left: -69%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item6-front {
	z-index: 10;
	position: absolute;
	left: -48%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item6-back {
	z-index: 10;
	position: absolute;
	left: -48%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item6-border {
	z-index: 50;
	position: absolute;
	left: -48%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item6-hover {
	z-index: 2000;
	position: absolute;
	left: -48%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item6-prices {
	z-index: 100;
	position: absolute;
	left: -48%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item7-front {
	z-index: 10;
	position: absolute;
	left: -27%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item7-back {
	z-index: 10;
	position: absolute;
	left: -27%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item7-border {
	z-index: 50;
	position: absolute;
	left: -27%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item7-hover {
	z-index: 2000;
	position: absolute;
	left: -27%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item7-prices {
	z-index: 100;
	position: absolute;
	left: -27%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

#item8-front {
	z-index: 10;
	position: absolute;
	left: -6%;
	bottom: 38%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item8-back {
	z-index: 10;
	position: absolute;
	left: -6%;
	bottom: 2%;
	height: 33%;
	width: 21%;
	object-fit: contain;
}

#item8-border {
	z-index: 50;
	position: absolute;
	left: -6%;
	bottom: 38%;
	height: 33%;
	width: 21%;
}

#item8-hover {
	z-index: 2000;
	position: absolute;
	left: -6%;
	bottom: 37%;
	height: 35%;
	width: 21%;
	opacity: 0;
}

#item8-prices {
	z-index: 100;
	position: absolute;
	left: -6%;
	bottom: 25%;
	height: 12%;
	width: 21%;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 0.75px;
}

.fake-price {
	position: absolute;
	top: 16%;
	left: 41%;
	color: red;
	text-decoration: line-through;
	font-size: 20px;
}

.real-price {
	position: absolute;
	top: 56%;
	left: 38%;
	color: red;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
}

/*
#play-pause {
	z-index: 300;
	position: fixed;
	top: 8%;
	left: 38.5%;
	height: 30px;
	object-fit: contain;
}
*/

#letter1 {
	display: block;
	position: absolute;
	left: 1%;
}


#letter2 {
	display: block;
	position: absolute;
	left: 11.238%;
}


#letter3 {
	display: block;
	position: absolute;
	left: 20.835%;
}


#letter4 {
	display: block;
	position: absolute;
	left: 30.536%;
}


#letter5 {
	display: block;
	position: absolute;
	left: 37.928%;
}

#letter6 {
	display: block;
	position: absolute;
	left: 44.477%;
}

#letter7 {
	display: block;
	position: absolute;
	left: 54.715%;
}

#letter8 {
	display: block;
	position: absolute;
	left: 64.312%;
}

#letter9 {
	display: block;
	position: absolute;
	left: 74.013%;
}

#letter10 {
	display: block;
	position: absolute;
	left: 81.405%;
}

#letter11 {
	display: block;
	position: absolute;
	left: 87.954%;
}

#letter12 {
	display: block;
	position: absolute;
	left: -32.239%;
}

#letter13 {
	display: block;
	position: absolute;
	left: -22.642%;
}

#letter14 {
	display: block;
	position: absolute;
	left: -12.941%;
}

#letter15 {
	display: block;
	position: absolute;
	left: -5.549%;
}

.bottom-scroll {
	z-index: 100;
	bottom: 3.5%;
/*	display: block; */
	font-size: 91px;
	font-family: "Russo One"; 
	color: #1F51FF;
	opacity: 0.6;
	text-shadow: 0 0 .1em #1F51FF;
}

/*
.bottom-scroll span {
	font-size: 91px;
	font-family: "Russo One"; 
	color: #1F51FF;
	opacity: 0.6;
	bottom: 0%;
	text-shadow: 0 0 .1em #1F51FF;
}
*/

#items-background {
	z-index: 5;
	position: absolute;
	bottom: 37%;
	left: 15%;
	height: 35%;
	width: 63%;
/*	background-color: #D3D3D3; */
	
	opacity: 0.7;
}

#ib-top-shadow {
	z-index: 7;
	position: absolute;
	top: 72;
	width: 63%;
	height: 3%;
	background-image: linear-gradient(to bottom, black, #D3D3D3);
	opacity: 0.7;
}

#right-cover {
	z-index: 5000;
	position: fixed;
	right: 0%;
	top: 28%;
	width: 22%;
	height: 47%;
	border-left-style: solid;
	border-width: 0.75px;
	background-color: white;
}

#right-scroll-cover {
	z-index: 5000;
	position: fixed;
	right: 0%;
	bottom: 0%;
	width: 22%;
	height: 25%;
	background-color: white;

}


#top-cover {
	z-index: 30;
	position: fixed;
	width: 100%;
	height: 28%;
	top: 0px;
	border-bottom-style: solid;
	border-width: 0.75px;
	background-color: white;
}

#bottom-cover {
	z-index: 30;
	position: fixed;
	width: 100%;
	height: 37%;
	bottom: 0px;
	background-color: white;
}

/*
audio {
	z-index: 1000;
	position: absolute;
	top: 2%;
	left: 2%;
}
*/
